
.firstItem {
  height: 100vh;
  position: relative;
  background-color: #110f12;
}

.secondItem {
  background-color: #110f12;
  overflow : hidden !important;
}

.register {
  border-radius: 50px !important;
  font-size: 1.5rem !important;
  color : #110f12 !important;
}

.register:hover {
  background-color: #f9b826 !important;
}
