.navbar {
  background: none !important;
  z-index: 11;
}

.navButton:hover {
  background: none !important;
}

.linkContainer {
  position: relative;
  right: 0;
}

.link {
  color: #f9b826 !important;
  font-size: 1.1rem !important;
  text-decoration: none;
}

.signIn {
  background-color: #f9b826 !important;
  color: #110f12 !important;
  border-radius: 0 !important;
  font-size: 1rem !important;
}

.link:hover {
  color: inherit;
}
