::-webkit-scrollbar {
    width : 8px;
    background-color: black;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: yellow;
    border-radius: 10px;
}

@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');