body {
  margin: 0;
  padding: 0;
}

.noInputBorder .MuiOutlinedInput-root {
  border-radius: 0px;
}

.noInputBorder .MuiInputBase-colorPrimary {
  border-color: red !important;
}

.slider .Mui-active {
  color: #110f12 !important;
}

.slider .Mui-completed {
  color: #008000 !important;
}

.slider .MuiStepConnector-root .MuiStepConnector-line {
  border-color: #110f12 !important;
}
