body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.noInputBorder .MuiOutlinedInput-root {
  border-radius: 0px;
}

.noInputBorder .MuiInputBase-colorPrimary {
  border-color: red !important;
}

.slider .Mui-active {
  color: #110f12 !important;
}

.slider .Mui-completed {
  color: #110f12 !important;
}

.slider .MuiStepConnector-root .MuiStepConnector-line {
  border-color: #110f12 !important;
}
